@import "~bootstrap/scss/bootstrap.scss";
$color: steelblue;
$color-link: blue;
$color-title: #af0000;
$background-color: #061735;
// #CC0001, #AF0000, #003A6D, #07264
$navbar-color: #003a6d;
$card-background: #07264e;
$hover: #cc0001;
body {
  background-color: $background-color;
}
.my-flix {
  color: $color;
}
.navbar {
  background-color: $navbar-color;
  border-radius: 10px;
  color: white;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: $hover;
}
.navbar-brand {
  color: $hover;
}
.navbar-brand:hover {
  color: white;
}
img {
  width: 200px;
}
.card {
  background-color: $card-background;
}
.movieTitle {
  color: $color-title;
}

.movieLink {
  cursor: pointer;
  color: $color-link;
}

.heart {
  font-size: 50px;
  color: red;
  cursor: pointer;
  transition: 0.2s opacity;
}
.heart:hover {
  opacity: 0.2;
}

button {
  cursor: pointer;
}

.movie-view {
  margin: 3rem;
  display: flex;
}
.movie-view img {
  width: 300px;
}

.profile-view {
  text-align: center;
}
