@import "~bootstrap/scss/bootstrap.scss";
$color: steelblue;
$color-link: blue;
$color-title: black;

.my-flix {
  color: $color;
}

img {
  width: 200px;
}

.movieTitle {
  color: $color-title;
}

.movieLink {
  cursor: pointer;
  color: $color-link;
}

.heart {
  font-size: 50px;
  color: red;
  cursor: pointer;
  transition: 0.2s opacity;
}
.heart:hover {
  opacity: 0.2;
}

button {
  cursor: pointer;
}

.movie-view {
  margin: 3rem;
  text-align: center;
}
